@use './mixins.sass' as *;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.master-video {
    @include box(100%);
    position: relative;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    video {
        @include box(inherit);
    }
}
