* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #000;
    color: #fff;
}

.app {
    width: 100vw;
    aspect-ratio: 16/9;
    padding: 100px;
}
