// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

body {
    // overflow: hidden;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 500vh;
}

.app {
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    width: 60vw;
    // border: 3px solid #00f;
    margin: 100px auto 0;
    .gg {
        border: 3px solid red;
    }
}
