* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #000;
    color: #fff;
    display: grid;
    place-items: center;
}

.app {
    width: 90vw;
    aspect-ratio: 16/9;
    padding: 100px;

    .gg {
        border: 1px solid red;
    }
}
