@use '../sass/mixins.sass' as *;

.master-video .menu-container {
    position: absolute;
    // padding: 10px;
    font-size: 20px;

    width: 250px;
    background-color: #1c1c1ce6;
    z-index: 15;
    transition: all 500ms;
    overflow: hidden;

    .menu {
        ul {
            list-style: none;
            @include box(100%);
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                // background-color: #8e8e8e;
                background-color: #8e8e8e;
                border-radius: 5px;
                border: 1px solid transparent;
            }

            .menu-item {
                cursor: pointer;
                width: 100%;
                @include Roboto(20px);
                margin: 5px 0;
                padding: 5px 10px;

                &:hover {
                    background-color: #fff1;
                }

                &.disable {
                    opacity: 0.5;
                }
            }

            .back-btn {
                width: 100%;
                font-size: 20px;
                font-family: 'Roboto';
                padding: 10px 10px;
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    @include box(100%, 2px);
                    bottom: 0;
                    left: 0;
                    background-color: #fff;
                }
            }
        }
    }
}
