@use '../../sass/mixins.sass' as *;

.controls-container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;

    .toggle-play {
        @include box(100%);
    }

    .controls {
        display: flex;
        @include box(100%, clamp(1.4rem, 20%, 3rem));
        background-color: #0005;

        display: flex;

        .btn {
            height: 100%;
            aspect-ratio: 1;
            flex-shrink: 0;
        }

        .timestamp {
            height: 100%;
            width: max-content;
            display: grid;
            place-items: center;
            padding: 0 0.3rem;
            flex-shrink: 0;
        }

        .timeline {
            @include box(100%);
        }
    }
}
