@use 'mixins' as *;

.controls-container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;

    .toggle-play {
        @include box(100%);
    }

    .controls {
        display: flex;
        @include box(100%, clamp(1.5rem, 10%, 2.5rem));
        background-color: #0006;

        .master-btn {
            height: 100%;
            aspect-ratio: 1;
            flex-shrink: 0;
            display: grid;
            place-items: center;
            cursor: pointer;
            padding: 0.2em;

            svg {
                @include box(100%);
            }
        }

        .timestamp {
            height: 100%;
            width: max-content;
            display: grid;
            place-items: center;
            padding: 0 0.3rem;
            flex-shrink: 0;
            font-family: 'Noto Sans', sans-serif;
        }

        .timeline {
            @include box(100%);
        }
    }
}
