@use '../../sass/mixins.sass' as *;
@use 'sass:math';

.controls-container .controls .volume {
    position: relative;

    .icon-container {
        display: grid;
        place-items: center;
    }

    .range-container {
        position: absolute;
        @include box(30px, 120px);
        cursor: default;
        bottom: 120%;

        .volume-range {
            $size: 8px;
            @include box(100%);
            display: grid;
            place-items: center;

            .range {
                color: currentColor;
                @include box($size, 100%);

                touch-action: none;
                display: flex;
                justify-content: center;
                // background-color: red;

                .rail {
                    cursor: pointer;
                    @include box($size, 100%);
                    // opacity: 0.38;
                    position: absolute;
                    background-color: #fff4;
                    display: flex;
                    align-items: flex-end;
                    overflow: hidden;
                    border-radius: 7px;

                    .track {
                        cursor: pointer;
                        @include box($size, 0%);
                        position: absolute;
                        border-radius: 1px;
                        background-color: currentColor;
                        bottom: 0;
                    }
                }
                .thumb {
                    @include box($size + 2);
                    opacity: 0;
                    cursor: pointer;
                    display: flex;
                    position: absolute;

                    // transition: opacity 300ms;
                    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

                    border-radius: 50%;
                    background-color: currentColor;
                    bottom: 10%;
                    margin-bottom: math.div($size + 2, -2);
                    box-shadow: 0 1px 3px #000;

                    &.hold {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
