@use '../../sass/mixins.sass' as *;

.controls-container {
    // background: rgb(0,0,0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6951155462184874) 0%,
        rgba(255, 255, 255, 0) 50%
    );
    position: absolute;
    bottom: 0;
    @include box(100%, 30%);

    .controls {
        @include box(100%, 60px);
        border-top: 1px solid #0f0;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        padding: 0 10px;

        .icon {
            cursor: pointer;
            @include box(35px);
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }

            &.disable {
                cursor: default;
                opacity: 0.5;
            }

            svg {
                @include box(100%);
            }
        }
    }
}
