@use '../../../sass/mixins.sass' as *;

.master-video .controls .settings {
    .settings-list {
        width: 200px;
        // height: 250px;
        position: absolute;
        bottom: 55px;
        right: 56px;
        background-color: #000b;
        border: 2px solid #FFF;
        border-radius: 5px;
        z-index: 15;

        ul {
            list-style: none;
            @include box(100%);
            padding: 5px 0;

            .item {
                cursor: pointer;
                width: 100%;
                @include Roboto(20px);
                // background-color: red;
                margin: 5px 0;
                padding: 5px 10px;

                &:hover {
                    background-color: #FFF1;
                }
            }
        }
    }
}